@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #FFF;
  --color-background: #ECE7C1;
  --color-foreground: #171717;
  --color-old-glory-red: #B31942;
  --color-old-glory-blue: #0A3161;
  --color-state-border-resting: #A89E7A;
  --color-state-fill-resting: #D4C9A3;
  --color-state-fill-hover: theme(colors.slate.300);
  --color-state-fill-active: theme(colors.amber.200);
  --color-state-fill-hover-active: theme(colors.amber.300);
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h1, h2, h3, h4 {
    @apply font-bold;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-base;
  }
  @screen lg {
    h1 {
      @apply text-4xl;
    }
    h2 {
      @apply text-3xl;
    }
    h3 {
      @apply text-xl;
    }
  }
}
