@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #FFF;
  --background: #ECE7C1;
  --foreground: #171717;
  --header-background: #D4C9A3;
  --old-glory-red: #B31942;
  --old-glory-blue: #0A3161;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
